@import url("./components/home-page/homePage.module.css");
@import url("./components/ai-page/aiPage.module.css");

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #273469;
  color: #e4d9ff;
}

input:focus,
textarea:focus,
button:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: #e4d9ff;
  margin: none;
  padding: none;
  height: 38px;
}

.navbar {
  display: flex;
}

.logo {
  width: 40px;
  height: 38px;
  margin-left: 10px;
  margin-right: 10px;
  padding: none;
}

.advizr-name {
  padding: none;
  margin: none;
  margin-top: -4px;
}
