.inria-sans-regular {
  font-family: "Inria Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.question-prompt {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6em;
}

.question-prompt > * {
  margin-right: 10px;
}

.ai-input {
  width: 40%;
  height: 40px;
  border-radius: 10px;
  border: none;
  font-size: 1.2em;
  font-weight: 400;
  padding-left: 10px;
}

.ai-input::selection {
  border: none;
}

.section-1 {
  text-align: center;
  height: 80dvh;
}

.typing {
  color: #80ed99;
}

.green-underline {
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-color: #80ed99;
}
